* {
    font-family: HelveticaNeueCyr, sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.wrap {
    width: 45%;
    padding: 2.5% 0;
}

    .main {
        margin: 50px auto;
        width: 100%;
    }

    .main-1one {
        width: 400px;
    }

    .message {
        text-align: start;
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .text {
        width: 65%;
        padding: 3px 10px;
    }

    .button {
        background-color: #507299;
        border: none;
        color: white;
        padding: 5px 10px;
    }

.flex-y-around {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.title {
    font-size: 50px;
}

.flex-hv-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-h-around {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.code {
    padding: 10px 40px;
    text-align: start;
    color: white;
    background-color: #1c3c50;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, serif;
    font-size: 20px;
}

tag {
    color: #FFC66D;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, serif;
}

class {
    color: #6A8759;
}

.main-1 {
    font-size: 16px;
    font-family: sans-serif;
    text-shadow: none;
}

.green-text {
    color: #6A8759;
}